# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
Pipfile*

# Serverless directories
.serverless
logfile

# testing
.pytest_cache
__pycache__
.coverage
coverage
coverage.xml